body {
    background-color: #22223b;
    margin: 0;
}

h1 {
    color: #f2e9e4;
    margin: 0;
}

h2 {
    color: #f2e9e4;
    margin: 0;
}

h3 {
    color: #f2e9e4;
    margin: 0;
}

h4 {
    color: #f2e9e4;
    margin: 0;
}

p {
    color: #f2e9e4;
    margin: 0;
}