<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thor demo</title>
    <link href="/global_styles.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>Thors demo hjemmeside, hosted på min raspberry pi</h1>
        <h3>Den har været live i {{time_live}} sekunder</h3>
        <h2>Projekter:</h2>
    </div>
    <div id="projekter" class="projekter">
        <div id="chat_app_proj" class="projekt">
            <a href="/projekter/chat_app">
                <h2>Chat app</h2>
                <h4>En app, hvor man kan lave gruppechats og chatte med sine venner!</h4>
                <image
                    src="/chat_app.png">
                </image>
            </a>
        </div>
        <div id="genetisk_bil_proj" class="projekt">
            <a href="/projekter/selvlærende_biler">
                <h2>Selvlærende biler</h2>
                <h4>En app hvor biler gennem en genetisk algoritme lærer at køre gennem en bane</h4>
                <image
                    src="/selvlærende_biler.png">
                </image>
            </a>
        </div>
        <div id="filoversørsel_proj" class="projekt">
            <a href="/projekter/directtransfer">
                <h2>Fil-overførsel</h2>
                <h4>En desktop app og CLI som kan bruges til at overføre filer over LAN</h4>
                <image
                    src="/directtransfer.png">
                </image>
            </a>
        </div>
        <div id="Selvlærende_spil_proj" class="projekt">
            <a href="/projekter/Selvlærende_spil">
                <h2>Selvlærende spil</h2>
                <h4>Et zombie spil hvor fjenden gennem en genetiske algoritme lærer at modkæmpe dig</h4>
                <image
                    src="/ZombieGame.png">
                </image>
            </a>
        </div>
    </div>
</body>
<script src="/home/scripts.js"></script>

</html>