<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selvlærende spil</title>
    <link href="/global_styles.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <div style="text-align: center;">
        <h1>
            Her kan der downloades mit selvlærende Zombie spil
        </h1>
        <p>Der burde gerne downloades en .zip fil. Udpak den, hvori der er en .exe fil.

            <br>Bemærk at den nyeste JDK og Java runtime er krævet for at køre programmet.
            <br>Alt kildekoden ligger i .zip pakken. Koden til .exe filen kan findes i ExecutableSource.cpp og resten
            kan findes under /src
        </p>
        <h3 class="downloadlink">
            <a href="/ZombieGame.zip">Download</a> <br><br> <a href="/ZombieGameSource.zip">kildekode</a>
        </h3>
        <h2>
            Guide til spillet
        </h2>
        <h3>
            Konti
        </h3>
        <p>Bemærk at spillet kræver du ALTID er på nettet. Dette er fordi der bruges online konti. Du kan starte spillet
            ved at trykke på "start game", men det foreslås at du først laver en konto.
            <br>Med en konto kan du gemme dit fremskidt, hvor hvis du ikke har en konto endnu bliver alt slettet når man
            dør.
        </p>
        <h3>
            Gameplay
        </h3><p>
        I spillet styres spilleren med "wasd" til at gå rundt, og musen bruges til at sigte.
        <br>Hvis musen trykket bruges det nuværende våben, man kan vælge våben ved at trykke "1" og "2".
        <br>Våben kan lades ved at trykke "R", men de kan kun lades hvis der er mere af den tilsvarende ammunition i
        inventariet (kan ses til venstre).

        <br>Ammunition og helbreds items kan samles op ved at trykke "E" mens spilleren er tæt på dem.
        <br>Helbreds items kan bruges ved at trykke på dem med musen i inventariet.
        <br>Døre kan åbnes ved at trykke "E" mens man er tæt på dem

        <br>Ved at trykke på "M" åbnes menuen. Her kan spillet gemmens på sin konti hvis man har lavet en.
    </p>
    </div>
</body>

</html>