<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <style type="text/css">body {
    background-color: rgb(33, 33, 33);
    margin-top: 0;
    margin-right: 15px;
    margin-left: 10px;
}

h1 {
    color: azure;
    text-align: center;
    margin-bottom: 0;
}
h2,h3 {
    color: azure;
    margin-bottom: 0;
}

label {
    color: azure;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.big_button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
</style> <script type="text/javascript">
var socket = null;
var locked = false;

function setup(port) {

    socket = new WebSocket('ws://127.0.0.1:' + port);

    // Connection opened
    socket.addEventListener('open', function (event) {
        log("Hello server <3")
    });


    socket.addEventListener('message', function (event) {
        if (typeof (event.data) === "string") {
            if (event.data.substring(0, 5) == "PATH:") {
                filefoldername.value = (event.data + "").substring(5);
            } else if (event.data.substring(0, 8) == "STATUS: ") {
                app.status = event.data.substring(8);
                if (app.status == "Transfer complete" || app.status.substring(0, 6) == "ERROR:") {
                    locked = false;
                }

            } else if (event.data.substring(0, 10) == "PROGRESS: ") {
                app.progress = event.data.substring(10);

            } else if (event.data.substring(0, 13) == "listening on ") {
                app.host_ip = event.data.substring(13);
            } else if (event.data.substring(0, 7) == "files: ") {
                let size_index = event.data.search("total size: ");
                app.files = event.data.substring(7, size_index);
                app.totalsize = event.data.substring(size_index + 12);

            } else {
                log("FAILED TO UNDERSTAND COMMAND " + event.data)
            }
        } else {
            log("NOT A STRING: " + event.data + " its " + typeof (event.data));
        }
    });
}

function log(text) {
    socket.send("LOG: " + text);
}

function change_mode() {
    if (locked)
        return;

    if (app.mode == "host") {
        app.mode = "leech";
    } else if (app.mode == "leech") {
        app.mode = "host";
    } else {
        log("UNKNOWN MODE: " + app.mode);
    }
}

function pick_folder() {
    if (locked)
        return;
    command("PICK_FOLDER");
}

function begin_mode() {
    if (locked)
        return;

    locked = true;

    if (app.mode == "host") {
        command("HOST " + filefoldername.value);
        app.progess = "0%";
    } else if (app.mode = "leech") {

        let ip = document.getElementById("connection_ip").value;
        ip = ip.trim();
        command("LEECH " + ip);
        app.progess = "0%";
    }
}

function command(command) {
    socket.send("CMD: " + command);
}</script>
</head>

<body>
    <div id="app">
        <h1 id="Title">
            DirectTransfer
        </h1>
        <div class="center">
            <button onclick="change_mode()" class="big_button">Mode: {{ mode }}</button>
        </div>
        <div name="host form" v-if="mode =='host'" class="mode_form">
            <label>Hosting File/Folder</label> <br>
            <input type="text" id="filefoldername" style="width: 100%;"><br>
            <button onclick="pick_folder()" style="margin-top: 5px;">Pick File/Folder</button>
        </div>

        <div name="leech form" v-if="mode =='leech'" class="mode_form">
            <label>Connection IP</label> <br>
            <input type="text" id="connection_ip" style="width: 100%;">

        </div>
        <div class="center">
            <button onclick="begin_mode()" class="big_button">{{ mode }}</button>
        </div>

        <div v-if="status !='not started'">
            <h2>
                Status: {{status}}
            </h2>
            <h3>
                <span v-if="mode =='host'">Ip: {{host_ip}} <br></span>
                Files: {{files}} <br>
                Size: {{totalsize}} <br>
                Progress: {{progress}}

            </h3>
        </div>


    </div>
    <script>external.invoke("setup");</script>
    <script type="text/javascript">var app = new Vue({
    el: '#app',
    data: {
        mode: "host",
        status: "not started",
        progress: "0%",
        files: "",
        totalsize: "",
        host_ip: ""   
    }
})</script>
</body>

</html>